---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app home-assistant
spec:
  chartRef:
    kind: OCIRepository
    name: home-assistant
  interval: 1h
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-assistant/home-assistant
              tag: 2025.12.4
            env:
              TZ: America/New_York
              HASS_HTTP_TRUSTED_PROXY_1: 192.168.0.0/24
              HASS_HTTP_TRUSTED_PROXY_2: 10.42.0.0/16
            envFrom:
              - secretRef:
                  name: *app
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.106.3@sha256:1a0e813039c8f01404a89654278779ac77492b833bc2d126431268b9b1f1e40a
            args:
              - "--auth"
              - "none"
              - --disable-telemetry
              - --disable-update-check
              - "--user-data-dir"
              - "/config/.vscode"
              - "--extensions-dir"
              - "/config/.vscode"
              - "--port"
              - "12321"
              - "/config"
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            appProtocol: kubernetes.io/ws
            port: &port 8123
          code-server:
            port: &codePort 12321
    route:
      app:
        hostnames:
          - hass.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - name: home-assistant
                port: *port
      code-server:
        hostnames:
          - hass-code.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: home-assistant
                port: *codePort
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /config
      # config-cache:
      #   existingClaim: "{{ .Release.Name }}-cache"
      #   globalMounts:
      #     - path: /config/.venv
      tmpfs:
        type: emptyDir
        # advancedMounts:
        #   home-assistant:
        #     app:
        #       - path: /config/logs
        #         subPath: logs
        #       - path: /config/tts
        #         subPath: tts
        #       - path: /tmp
        #         subPath: hass-tmp
        #     code-server:
        #       - path: /tmp
        #         subPath: code-server-tmp
        #       - path: /nonexistent
        #         subPath: nonexistent
