---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spegel
spec:
  chartRef:
    kind: OCIRepository
    name: spegel
  interval: 1h
  values:
    spegel:
      containerdSock: /run/containerd/containerd.sock
      containerdRegistryConfigPath: /etc/cri/conf.d/hosts
    grafanaDashboard:
      enabled: true
      mode: GrafanaOperator
      grafanaOperator:
        matchLabels:
          grafana.internal/instance: grafana
    service:
      registry:
        hostPort: 29999
    serviceMonitor:
      enabled: true
