---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: homepage
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: homepage-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Cluster resources
        HOMEPAGE_VAR_LONGITUDE: "{{ .LONGITUDE }}"
        HOMEPAGE_VAR_LATITUDE: "{{ .LATITUDE }}"
        HOMEPAGE_VAR_SECRET_DOMAIN: "{{ .DOMAIN }}"
        ## Non Cluster resources
        HOMEPAGE_VAR_SYNO_DOMAIN: "{{ .SYNO_LOCAL_DOMAIN }}"
        HOMEPAGE_VAR_CLOUDFLARE_ACCOUNTID: "{{ .CLOUDFLARE_ACCOUNT_ID }}"
        HOMEPAGE_VAR_CLOUDFLARE_TUNNELID: "{{ .CLOUDFLARE_TUNNEL_ID }}"
        HOMEPAGE_VAR_CLOUDFLARE_API_TOKEN: "{{ .CLOUDFLARE_HOMEPAGE_TOKEN }}"
        HOMEPAGE_VAR_BAZARR_API_KEY: "{{ .BAZARR_API_KEY }}"
        HOMEPAGE_VAR_PROWLARR_API_KEY: "{{ .PROWLARR_API_KEY }}"
        HOMEPAGE_VAR_RADARR_API_KEY: "{{ .RADARR_API_KEY }}"
        HOMEPAGE_VAR_SABNZBD_API_KEY: "{{ .SABNZBD_API_KEY }}"
        HOMEPAGE_VAR_SONARR_API_KEY: "{{ .SONARR_API_KEY }}"
        HOMEPAGE_VAR_AUTOBRR_API_KEY: "{{ .AUTOBRR_API_KEY }}"
        HOMEPAGE_VAR_PLEX_API_KEY: "{{ .PLEX_TOKEN }}"
        HOMEPAGE_VAR_UNIFI_API_KEY: "{{ .UNIFI_API_KEY }}"
        HOMEPAGE_VAR_QBITTORRENT_USERNAME: "{{ .QBITTORRENT_USERNAME }}"
        HOMEPAGE_VAR_QBITTORRENT_PASSWORD: "{{ .QBITTORRENT_PASSWORD }}"
  dataFrom:
    - extract:
        key: autobrr
    - extract:
        key: bazarr
    - extract:
        key: cloudflare
    - extract:
        key: cluster
    - extract:
        key: seerr
    - extract:
        key: plex
    - extract:
        key: prowlarr
    - extract:
        key: qbittorrent
    - extract:
        key: radarr
    - extract:
        key: sabnzbd
    - extract:
        key: sonarr
    - extract:
        key: synology
    - extract:
        key: unifi
