---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: home-assistant
spec:
  dependsOn:
    - name: volsync
      namespace: volsync-system
  components:
    - ../../../../components/volsync
  interval: 2h
  retryInterval: 30m
  path: ./kubernetes/apps/home/home-assistant/app
  postBuild:
    substitute:
      APP: home-assistant
      VOLSYNC_CAPACITY: 10Gi
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  patches:
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: home
  wait: false
