---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: storage

components:
  - ../../components/alerts
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./longhorn/ks.yaml
